body {
  background-color: #121212;
}

.navBarDiv {
  background: #ffffff;
  border-bottom: 1px solid #000000;
}


.contenedorUl {
  list-style: none;
}

.navBarlogoimg {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.producto {
  margin: 10px;
  border-radius: 9%;
  padding: 3px;
  list-style: none;
}